input {
	display: none;
}

label {
	display: block;
	padding: 14px 16px;
	margin: 0 0 0 0;
	cursor: pointer;
	background-color: #333;
	color: #ffffff;
	font-size: 17px;
	transition: ease.5s;
}

label:hover {
	background-color: #ffffff;
}

content {
	background: #ddd;
	padding: 14px 16px;
	margin: 0 0 0 0;
	border-radius: 3px;
}


input + label + content {
	display: none;
}

input:checked + label + content {
	display: block;
}


